.navbar{
    background-color: #9a0526;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: min-content;
    padding: 0 !important;
}
.navbar-collapse{
    flex-grow: 0 !important;
}
.container-fluid{
    padding: 0;
}

.lgYTit{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.logoStyle{
    width: 150px;
    height: 140px;
}
.dropdown-menu{
    z-index: 9999;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    }

