.contacto {
    background-color: #f7f7f7;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .contacto-header h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .contacto-header p {
    text-align: center;
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .contacto-form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contacto-form label,
  .contacto-form input,
  .contacto-form textarea,
  .contacto-form button {
    display: block;
    margin-bottom: 15px;
    width: 100%;
  }
  
  .contacto-form textarea {
    resize: vertical;
  }
  
  .contacto-form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .contacto-form button:hover {
    background-color: #0056b3;
  }
  
  .contacto-info h3 {
    font-size: 20px;
    margin-top: 20px;
  }
  
  .contacto-info p {
    font-size: 16px;
    color: #555;
  }
  
  .contacto-info ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .contacto-info li {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .contacto-buttons {
    text-align: center;
    margin-top: 30px;
  }
  
  .contacto-buttons a {
    margin: 10px;
    padding: 12px 30px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
  }
  

.imgLinkContacto{
    width: 80px;
    height: 80px;
}