.boton-flotante {
  position: fixed;
  bottom: 20px; 
  right: 20px;
  padding: 20px; 
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 9999;
}

.boton-flotante img {
  width: 70px;
  height: 70px;
}
